<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.bigbug.flutter_yeahka">
    <application>
        <receiver android:name=".ResultReceiver" >
            <intent-filter>
                //注意action
                <action android:name="${applicationId}.com.yeahka.L3.RESULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
